:root {
  --bg-color: black;
  --bg-itens-color: #0a4ea657;
  --titles-color: #a18c12;
  --span-color: #a18c12;
  --bg-menu-color: #011d42;
  --text-color: #a18c12;
}

.modoEscuro:root {
  --bg-color: #0D0D0D;
  --bg-itens-color: #0a4ea66b;
  --titles-color: #056CF2;
  --span-color: #056CF2;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url('https://images.pexels.com/photos/1694000/pexels-photo-1694000.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg-color);
  width: 100vw;
  overflow-x: hidden;
}

main .animacoes {
  z-index: 1;
  opacity: 0.8;
}

#item-1 {
  animation: anmt2 30s infinite;
  opacity: 0.3;
  z-index: 1;
}

#item-2 {
  animation: anmt1 30s infinite;
  right: 15px;
  opacity: 0.5;
  z-index: 3;
}

#item-3 {
  z-index: 2;
  top: 30%;
  opacity: 0.4;
  right: 40%;
  animation: lua 20s infinite;
}


a {
  color: whitesmoke;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1000;
  transition: 0.5s ease-in-out;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.315);
  color: var(--titles-color)
}

#logo {
  font-size: 1.9rem;
  font-weight: bold;
  color: #e7e7e7;
  transition: 0.5s ease-in-out;
}

#logo span {
  color: var(--span-color);
}

#logo:hover {
  color: var(--span-color);
}

#logo span:hover {
  color: #e7e7e7;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-itens-color);
  border-bottom: 0.5px solid #a18c12;
  box-shadow: 3px 1px rgba(0, 0, 0, 0.322);
}

#menu {
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
  font-size: 22px;
}

#menu a span {
  color: #a18c12;
}

#menu img {
  width: 30px;
}

#btn-mobile {
  display: none;
}

main {
  margin: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main img {
  position: absolute;
}

main .content {
  position: absolute;
  z-index: 5;
}

main .animation-welcome {
  overflow-x: hidden;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--titles-color);
}

main h1 {
  margin-top: 15px;
  display: flex;
}

main h2 {
  color: var(--titles-color);
  border: none;
}

main p {
  margin-top: 10px;
  font-size: 1.3em;
  font-weight: 1000;
  color: var(--text-color);
}

main .container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 94vw;
  margin: 2vw;
  height: 90%;
  background-color: var(--bg-itens-color);
  border: 0.5px solid var(--text-color);
  border-radius: 5px;
  z-index: 999;
}

main .container h1,
main .container h2,
main .container p {
  margin: 10px;
  z-index: 10;
  flex-wrap: wrap;
}

main .carousel {
  margin-top: -2%;
  width: 100%;
  text-align: center;
}

main .carousel-item {
  height: 60vh;
  text-align: center;
  align-items: center;
}

main .carousel .card-content {
  display: flex;
  height: 30vh;
}

main .carousel-item p {
  position: relative;
  margin-left: 10%;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

main .carousel-item img {
  width: 200px;
  max-width: 200px;
  overflow: hidden;
  position: relative;
  transition: 0.5s all;
}
main .carousel-item img:hover{
  transform: scale(1.1);
}
main .carousel-item h1 {
  color: var(--titles-color);
  display: flex;
  justify-content: center;
}

main .carousel-item group-links {
  display: flex;
}

.button {
  width: 10vw;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 6px;
  border-radius: 5px;
  border: 0.5px solid #a18c12;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}

.button:hover {
  color: var(--text-color);
}

footer {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  margin: 0px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid #a18c12;
  background-color: var(--bg-itens-color);
}

footer h1 {
  margin: 10px;
  font-size: 1rem;
  font-family: "Courier New", monospace;
  color: var(--titles-color);
  opacity: 0.5;
  z-index: 1000;
}

@media (max-width: 600px) {
  body {
    background-image: url('https://images.pexels.com/photos/1694000/pexels-photo-1694000.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--bg-color);
    width: 100%;
    overflow-x: hidden;

  }

  main img {
    display: none;
  }

  main .carousel-item {
    height: 70vh;
    text-align: center;
    align-items: center;
  }

  main .carousel-item p {
    position: relative;
    font-size: 16px;
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  #menu {
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: var(--bg-menu-color);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }

  #hamburger {
    border-top: 2px solid whitesmoke;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
    background-color: whitesmoke;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  footer {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: -15%;
    margin: 0px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid #a18c12;
    background-color: var(--bg-itens-color);
  }
}

@keyframes anmt1 {
  0% {
    right: 0px;
  }

  50% {
    right: 700px;
  }

  100% {
    right: 0px;
  }
}

@keyframes anmt2 {
  0% {
    left: 0px;
  }

  50% {
    left: 700px;
  }

  100% {
    left: 0px;
  }
}

@keyframes lua {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(180deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}